{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section>
        <div class="hero bg-base-200 min-h-[90vh] max-sm:w-full">
            <div class="hero-content flex-col lg:flex-row-reverse max-sm:p-0">
                <img
                src="/images/hero.jpg"
                alt="Hero" 
                class="max-w-sm rounded-lg shadow-2xl" />
                <div>
                    <h1 class="text-5xl font-bold">Esoternet - maudire sans encombre</h1>
                    <p class="py-6">
                        Plongez dans l’univers mystique de notre e-shop ésotérique, où spiritualité, magie et bien-être se rencontrent à travers une sélection unique d’articles enchantés. 🔮✨
                    </p>
                    {% if app.user %}
                        <a href="/entity"><button class="btn btn-primary" > Nos produits </button></a>
                    {% else %}
                        <a href="{{ path('page_login') }}"><button class="btn btn-primary">Get Started</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
