{% extends 'base.html.twig' %}

{% block title %}Error {{ status_code }}{% endblock %}

{% block body %}
    <h1>Error {{ status_code }}</h1>
    <p>{{ status_text }}</p>
    <a href="{{ path('homepage') }}">Return Home</a>
{% endblock %}
