{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div style="height:75vh">
    <section class='flex flex-nowrap flex-col sm:flex-row lg:w-[80vw] lg:mt-[5%] m-auto  border-4 border-black-600 rounded-lg'>
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger mt-3" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <form class="mt-10 w-full max-sm:mx-0 max-lg:mx-3 lg:mx-[5rem]" method="POST">

            <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
            >

            <div class="relative max-lg:text-center ">
                <input class="text-black max-lg:w-[90vw] max-lg:m-auto w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="username" type="text" placeholder="Adresse Email" name="_username"/>
            </div>
            <div class="relative max-lg:text-center  mt-3">
                <input class="text-black max-lg:w-[90vw] max-lg:m-auto w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" id="password" type="password" placeholder="Mot de passe" name="_password"/>
            </div>
            <div class="flex items-center justify-between mt-8 gap-4 ">
                <button type="submit" class="max-lg:w-[45] max-lg:m-auto relative flex w-full bg-red-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                    <svg class="h-5 w-5 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>login</title><path d="M11 7L9.6 8.4L12.2 11H2V13H12.2L9.6 15.6L11 17L16 12L11 7M20 19H12V21H20C21.1 21 22 20.1 22 19V5C22 3.9 21.1 3 20 3H12V5H20V19Z" /></svg>
                    Se connecter
                </button>

                <a href="{{ path('register') }}" class='max-lg:w-[45] max-lg:m-auto relative w-full'>
                    <div class="flex w-full bg-green-600 flex-row p-3 items-center justify-center rounded-lg overflow-hidden border cursor-pointer transition text-white hover:opacity-90 hover:scale-105">
                        <svg class="h-5 w-5 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>login</title><path d="M11 7L9.6 8.4L12.2 11H2V13H12.2L9.6 15.6L11 17L16 12L11 7M20 19H12V21H20C21.1 21 22 20.1 22 19V5C22 3.9 21.1 3 20 3H12V5H20V19Z" /></svg>
                        S'inscrire
                    </div>
                </a>
            </div>

            <div class="flex items-center justify-center mt-14 mb-2 flex-col">
                <a href="{{ path('page_forgot') }}" class="text-red-600 cursor-pointer transition hover:text-red-700 hover:scale-105">
                    Vous avez oubliez votre mot de passe ?
                </a>
            </div>
        </form>
    </section>
</div>
{% endblock %}
