{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <section class='flex flex-nowrap flex-col lg:w-[50vw] lg:mt-[5%] m-auto  border-4 border-black-600 rounded-lg p-5'>
        <h1 class='mt-2 mb-5 text-2xl text-center'>Paiement</h1>
        <p class='mb-3 text-lg'>Prix : {{ item.price }} €</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
