{% extends 'emails/base.html.twig' %}

{% set url = url('page_confirm', {uid: user.confirmEmailToken})  %}

{% block body %}
    <div style="font-weight: bold; font-size: 1.5rem; display: flex; align-items: center; gap: 0.5rem;">
        <div class="text-base-100">Esoternet</span></div>
    </div>
    <br>
    <br>
    <br>
    Bonjour,
    <br>
    <br>
    Vous vennez de vous inscrire sur <span class="text-base-100">Esoternet</span>.
    <br>
    <br>
    Pour finaliser votre inscription, veuillez cliquer sur le lien suivant : <a href="{{ url }}" style="font-weight: bold">confirmer mon email</a>
    <br>
    <br>
    L'équipe <span class="text-base-100">Esoternet</span>.
    <br>
    <br>
    <div style="font-size: 0.8rem; color: #999;">
        Si vous n'arrivez pas à cliquer sur le lien, copiez-collez l'URL suivante dans votre navigateur : <a href="{{ url }}">{{ url }}</a>
    </div>
{% endblock %}
