{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block body %}
    <section>
        <div class="bg-base-200 max-sm:w-full pb-6">
            <div class="flex-col max-sm:p-0 lg:w-[80vw] m-auto p-5">
                <div>
                    <h1 class="text-5xl font-bold">À propos de nous</h1>
                    <p class="py-6">
                        Bienvenue sur EsoterNet, votre boutique en ligne dédiée aux produits mystiques, spirituels et ésotériques. Nous avons pour mission de vous offrir une expérience unique et authentique, en vous fournissant des articles de qualité pour nourrir votre quête de bien-être, de sagesse et de spiritualité.
                        Notre Histoire
                        <br/><br/>
                        Créée en 2020, EsoterNet est née de la passion d’un groupe de personnes fascinées par les pratiques spirituelles ancestrales. Nous avons rassemblé pour vous des produits qui favorisent l'éveil intérieur, la guérison énergétique et la connexion avec le divin.
                        <br/><br/>
                        Notre équipe travaille en collaboration avec des artisans et des fournisseurs du monde entier, dans le respect des traditions et des pratiques ancestrales. Chaque article que nous proposons est soigneusement sélectionné pour sa qualité, son authenticité et son énergie unique.
                        Nos Produits
                        <br/><br/>
                        Nous proposons une large gamme de produits pour vous accompagner dans votre cheminement spirituel :
                        <br/><br/>
                            Cristaux et pierres précieuses : Des minéraux naturels aux vertus énergétiques puissantes.
                            Tarots et oracles : Des jeux de cartes mystiques pour guider vos décisions et approfondir votre intuition.
                            Encens et bougies : Pour purifier votre espace et élever votre vibration.
                            Livres ésotériques : Des ouvrages pour enrichir vos connaissances sur les traditions spirituelles, la méditation, la guérison et bien plus.
                            Objets de guérison et rituels : Amulettes, pendules, et autres outils pour vos pratiques spirituelles et énergétiques.
                        <br/><br/>
                        <span class="font-medium"> Notre Engagement </span>
                        <br/><br/>
                        Chez EsoterNet, nous croyons que l'éveil spirituel et le bien-être sont accessibles à tous. Nous nous engageons à vous offrir une sélection de produits qui répondent à vos besoins, tout en respectant des principes éthiques. Notre équipe veille à ce que chaque produit soit respectueux de l’environnement et qu’il provienne de sources responsables.
                        Rejoignez notre communauté
                        <br/><br/>
                        Au-delà de nos produits, nous souhaitons créer une communauté de passionnés et de chercheurs spirituels. Découvrez notre blog pour des conseils sur les pratiques mystiques, des méditations guidées et des témoignages inspirants. Rejoignez-nous également sur les réseaux sociaux pour des échanges enrichissants et des offres exclusives.
                    </p>
                    <br/>
                    <h1 class="text-5xl font-bold">Contactez-nous</h1>
                    <p class='py-6'>
                        Si vous avez des questions ou souhaitez en savoir plus sur nos produits, n’hésitez pas à nous écrire à contact@esoternet.com.
                    </P>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


